body{
  margin: 0;
  padding:0;
  background: #FFFF95;
  font-family: 'Baloo', cursive;
}
img{
  width:100%;
}
.espacio{
  padding-top: 3%;
}
nav{
  background: #55BA55;
  color:#764b8e;
}
#fotos{
  background: #FFF;
}
#botones{
  background: #B2D964;
}
#parrafos{
  background: #FFF;
}
.color{
  background: #6B6B16;
  color:#fff;
  text-align: center;
}
footer{
  background: #125612;
  padding:1%;
  color:#fff;
  text-align: center;
}
