body{
  margin: 0;
  padding:0;
}
img{
  width:100%;
}
.espacio{
  padding-top: 3%;
}
nav{
  background: #3D1255;
  color:#764b8e;
}
#fotos{
  background: #CD88AF;
}
#botones{
  background: #261758;
}
#parrafos{
  background: #661141;
}
.color{
  background: #CD88AF;
  color:#fff;
  text-align: center;
}
footer{
  background: #13073a;
  padding:1%;
  color:#fff;
  text-align: center;
}
